   .table {
    margin: 30px;
  }
  
  .light-cell {
    background: beige;
    width: 60px;
    height: 60px;
  }
  
  .dark-cell {
    background: burlywood;
    width: 60px;
    height: 60px;
  }
  
  .selected {
    background-color: rgb(48, 172, 194);
  }
  
  .possible-move {
    background: rgba(159, 78, 206, 0.959);
  }