.tbl {
  border-spacing: 0;
  width: 500px;
  height: 480px;
}

.bcell {
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    border-style: inset;
}

.wcell {
    background-color: white;
    border: 1.5px solid rgb(0, 0, 0);
    border-style: inset;
  }