   table {
    margin: 20px;
  }
  
  .light-cell {
    background: rgb(211, 210, 210);
    width: 70px;
    height: 70px;
  }
  
  .dark-cell {
    background: rgb(77, 75, 75);
    width: 70px;
    height: 70px;
  }
  
  .selected {
    background-color: rgb(185, 185, 99);
  }